.search{
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}
.searchText{
    margin-right: 20px;
    border-style: solid;
    height: 30px;
}
.buttonSearch{
    background-color: blue;
    color: white;
    border: none;
    height: 35px ;
    font-size: large;
}
